@import url("content.css");
.content-container.c1 {
    padding: 0.5vw;
}

.content-text.mini {
    font-size: 17px;
    font-style: italic;
    text-align: center;
}

.bio-topContainer {
    display: flex;
}

.bio-pic-container {
    padding-left: 3vw;
    display: flex;
    height: 68vh;
    align-items: center;
}

.bio-pic-container.mobile {
    height: 100%;
    width: 70%;
}

.bio-pic {
    border-radius: 5px;
    height: 30vw;
}

.content-skillsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px;
}

.content-text.skills {
    font-size: 1.5vw;
    width: 12vw;
    text-align: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 9vh;
    line-height: 1vh;
}
.content-text.skills.mobile {
    width: 15vh;
    height: 15vw;
    padding: 1vw;
}
.content-text.mobile {
    font-size: 1.5vh;
}

.bio-icon {
    color: #D2D2C6;
    margin-top: 2vh;
    size: 2vw;
}