.clockface {
    cursor: pointer;
}.clockface-i {
    cursor: pointer;
}.clockface-ii {
    cursor: pointer;
}.clockface-iii {
    cursor: pointer;
}.clockface-iv {
    cursor: pointer;
}.clockface-v {
    cursor: pointer;
}