@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@700&display=swap');

/* -------------------- GLOBAL -------------------- */
:root {
    --bg-color: #1C1C1C;
    --dark-gold: #4D442D;
    --gold: #FCD686;
    --light-gold: #F7DDA1;
    --cream: #FFFEEB;
}
.content-wholeContainer {
    display: flex;
    flex-direction: row;
    width: 600vw;
    height: 100%;
}

.content-titleContainer {
    background-color: #404238;
    width: 15vw;
    height: 68vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 5px 0px 0px 5px;
}

.content-titleContainer.mobile {
    width: 98vw;
    height: 15vh;
    border-radius: 5px 5px 0px 0px
}

.content-container {
    width: 100vw;
    display: flex;
    height: 100%;
    padding: 1vw;
}
.content-container.mobile {
    padding: 1vw;
    flex-direction: column;
}
.content-text {
    font-family: 'EB Garamond';
    color: var(--gold);
    font-size: 2.5vw;
    text-align: start;
    padding: 1vh;
}
.content-text.body {
    white-space: pre-line;
    font-size: 1.5vw;
}
.content-text.body2 {
    white-space: pre-line;
    font-size: 1.3vw;
}