@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@700&display=swap');
@import url("content.css");

.header-background {
    display: flex;
    padding: 10px;
    height: 7vh;
    width: 100vw;
    justify-content: center;
}
.header-background.mobile {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    background-color: var(--bg-color);
}
.header-text {
    font-family: 'Comic Sans';
    font-style: normal;
    font-size: 2vh;
    color: var(--cream);
    letter-spacing: 1px;
    padding: 0.8vh;
    cursor: pointer;
    user-select: none;
    display: block;
}
.header-text.mobile {
    padding: 0.8vw;
    padding-left: 3vw;
}
.header-img {
    filter: drop-shadow(0px 4px 4px var(--cream));
    height: 4vh;
    user-select: none;
    position: absolute;
}
.header-img-mobile {
    filter: drop-shadow(0px 4px 4px var(--cream));
    height: 5vh;
    padding-left: 1vw;
    user-select: none;
    position: relative;
}
.header-line {
    margin-top: 1vh;
    width: 100vw;
    height: 0px;
    margin-bottom: 1vh;
    position: absolute;
    top: 70px;
    border: 1px solid #20211C;
}
.header-menu {
    color: var(--cream);
    cursor: pointer;
    margin-right: auto;
}
.header-menu.mobile {
    margin-right: 0;
}
.header-menu-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: var(--bg-color);
    width: 100%;
    z-index:11;
    padding-top: 0px;
    top: 0;
    align-items: flex-start;
}
.header-menu-container.mobile {
    position: absolute;
    flex-direction: column;
    background-color: var(--bg-color);
    width: 100%;
    padding-top: 0px;
    margin-top: 7   vh;
    top: 0;
    align-items: flex-start;

}