:root {
    --bg-color: #22231E;
}

.main-background {
    height: calc(100vh - 90px);
    width: calc(100vw - 20px);
    border-radius: 5px;
    background:
        repeating-linear-gradient(45deg,
            var(--bg-color),
            var(--bg-color) 39px,
            #404238 1px,
            var(--bg-color) 40px)
}

.main-background .secondary {
    background:
        repeating-linear-gradient(135deg,
            transparent,
            transparent 39px,
            #404238 1px,
            transparent 40px)
}
.main-gearContainer {
    top: calc(100vh - 31vh);
    left: calc(50vw - 31vh);
    height: 62vh;
    width: 62vh;
    display: flex;
    position: absolute;
    justify-content: center;
}
.main-text {
    color: white;
}
.main-watch {
    top: calc(100vh - 45vh);
    left: calc(50vw - 45vh);
    height: 90vh;
    width: 90vh;
    position:absolute;
}
.main-watch-hand {
    top: calc(100vh - 38vh);
    left: calc(50vw - 50vh);
    height: 50vh;
    width: 100vh;
    position:absolute;
}
.main-watchContainer{
    height: 100%;
    width: 100%;   
}